/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
}
aside{
    flex-shrink: 0;
    height: calc(100vh - 100px);
    width: 250px;
    background-color: lightcoral;
}
.main-app{
    width: calc(100% - 200px);
}
.main-app header{
    height: 100px;
    background-color: lightgreen;
}
/* FOOTER */
footer{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: #2c2c2c;
    color: white;
}
.footer-left,.footer-right{
    max-width: 25%;
    display: flex;
    align-items: center;
    gap: 15px;
}
/* footer left */
.footer-left .song-info{
    padding-right: 25px;
}
footer .artist{
    font-weight: 500;
}
.footer-left img{
    height: 50px;
}
/* footer right */

/* MEDIA BAR */
.media-bar{
    height: 3px;
    width: 90px;
    background-color:#5a5a5a ;
    border-radius: 5px;
    position: relative;
}
.media-bar-progress{
    height: 4px;
    width: 30%;
    background-color:#c0c0c0 ;
    border-radius: 5px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.media-bar:hover .media-bar-progress{
    background-color:#90ee90 ;

}