/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
}
aside{
    flex-shrink: 0;
    height: calc(100vh - 100px);
    width: 250px;
    background-color: lightcoral;
}
.main-app{
    width: calc(100% - 200px);
}
.main-app header{
    height: 100px;
    background-color: lightgreen;
}
/* FOOTER */
footer{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: #2c2c2c;
    color: white;
}

.footer-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-left .song-info{
    padding-right: 25px;
}
.artist{
    font-weight: 500;
}

.footer-left img{
    height: 50px;
}