/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
}


/* ASIDE */
aside{
    padding: 10px;
    flex-shrink: 0;
    height: calc(100vh - 100px);
    width: 250px;
    background-color: #000000;
    color: #c0c0c0;
    display: flex;
    flex-flow: column nowrap;
}
aside ul{
    list-style: none;
}
aside ul li a{
    text-decoration: none;
    color: inherit;  
}
aside #logo-big{
    height: 80px;
    flex-shrink: 0;
    width: 100%;
}
aside #logo-small{
    display: none;
}
.aside-nav{
    flex-shrink: 0;
}
.aside-nav img ,.playlist i{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.aside-nav li,.playlist li{
    padding: 5px 0;
}
.aside-nav i{
    font-size: 40px;   
}
.playlist{
    overflow-y: auto;
}
.playlist i{
    font-size: 40px;
}
.profile{
    margin-top: auto;
}
.profile, .aside-nav{
    overflow: hidden;
}
.profile img,.profile i{
    vertical-align: middle;
}
.profile img {
    width: 20px;
}
.profile div, .user div{
    display: inline-block;
}
.user, .install-app{
    padding: 10px 0;
}
.user i{
    font-size: 30px;   
}

@media screen and (max-width:600px){
    aside{
        padding: 10px;
        flex-shrink: 0;
        height: calc(100vh - 100px);
        width: 50px;
        background-color: #000000;
        color: #c0c0c0;
        display: flex;
        flex-flow: column nowrap;        
    }
    aside #logo-big{
        display: none;
    }
    aside #logo-small{
        display: block;
    }
    .aside-nav span{
        display: none;
    }
    .playlist{
        display: none;
    }
    .profile .hide{
        display: none;
    }
    .profile hr{
        opacity: 0;
    }
    /* per centrare il downlaod */
    .install-app{
        margin-left: 2.5px;
    }
}

/* MAIN */
.main-app{
    width: calc(100% - 200px);
    background-color: #1b1f27;
}
/* mian header */
.main-app header{
    padding-right: 80px;
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 10;
    background-color: black;
    opacity: 0.3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-app header a{
   background-color: inherit;
   color: white;
   border: 1px solid white;
   padding: 10px 30px;
   border-radius: 20px;
   text-transform: uppercase;
   text-decoration: none;
}
/* main nav */
.main-app nav{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-app ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    list-style: none;
    flex-wrap: wrap;
}
.main-app ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #66696d;
    font-weight: bold;
}

/* FOOTER */
footer{
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    position: fixed;
    z-index: 5;
}
.footer-left,.footer-right{
    max-width: 25%;
    display: flex;
    align-items: center;
    gap: 15px;
}
/* footer left */
.footer-left{
    flex-grow: 0;
}
.footer-left .song-info{
    padding-right: 25px;
}
footer .artist{
    font-weight: 500;
}
.footer-left img{
    height: 50px;
}
/* footer mid */

.footer-mid {
    flex-shrink: 0;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-mid .player-action{
    display: flex;
    
}
.footer-mid i{
    font-size: 20px;
    padding: 0 20px;
}
/* footer right */

.footer-right .media-bar{
    width: 100px;
}
/* MEDIA BAR */
.media-bar{
    height: 5px;
    width: 100%;
    background-color:#5a5a5a ;
    border-radius: 5px;
    position: relative;
}
.media-bar-progress{
    height: 4px;
    width: 30%;
    background-color:#c0c0c0 ;
    border-radius: 5px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.media-bar:hover .media-bar-progress{
    background-color:#90ee90 ;

}